#heading {
	width: 50%;
	margin: 30px auto;
	text-align: center;
	color: aqua;
	background: blue;
	border: 2px solid blue;
	border-radius: 20px;
}

form {
	width: 50%;
	margin: 30px auto;
	border-radius: 5px;
	padding: 10px;
	background: black;
	border: 1px solid blue;
}

form, #task_error{
    color: red;
}


form, #task_added{
    color: green;
}

.task_input {
	width: 73%;
	height: 15px;
	padding: 10px;
	border: 2px solid blue;
}

.task_button {
	height: 39px;
	background: black;
	color: blue;
	border: 2px solid blue;
	border-radius: 5px;
	padding: 5px 20px;
}

.task {
	text-align:left;
}

/**********************************************************************************************************/
/*********************************************   NEWS   ***************************************************/
/**********************************************************************************************************/

#flex div {
	color: blue;
	font-weight: 600;
	margin: 0 auto;
	width: 50%;
	padding: 3px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid blue;
}

#flex div:not(:first-child):hover {
	background: green;
}

.delete_task, a {
	color:red;
	background:black;
	padding:1px 6px;
	border-radius:3px;
	text-decoration:none;
}
