body{
    background: #181818;
}

#todo_list div {
	color: #95bbc2;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#clear{
    margin: 30px 0px;
}

/**********heading**********/

#heading {
	width: 90%;// make the heading a width of 100%
	margin: 30px auto;
	text-align: center;
	color: white;
	background: #2d6cc4;
	border: 2px solid #2d6cc4;
	border-radius: 20px;
}

/**********user input & button **********/

form {
	width: 50%;
	margin: 30px auto;
	border-radius: 5px;
	padding: 20px;
    padding-right: 45px;
	background: #95bbc2;
	//border: 1px solid white;
}

#task_error{
    color: red;
    margin: 0px 0px 10px 0px;
    font-size: 11px;
}

#task_added{
    color: green;
    margin: 0px 0px 10px 0px;
      font-size: 11px;
}

.task_input {
	width: 100%;  // User can write a longer input message instead of having it limit
	height: 15px;
	padding: 10px;
	border: 2px solid #2d6cc4;
}


.task_button {
    width: 100%;
    background: #2d6cc4;
	color: white;
	border: 2px solid black;
	border-radius: 5px;
	padding: 10px 30px;
    margin: 30px 10px 0px 10px;
    align-items: center;
    
}

a.done_button{
    display: inline-block;
    background: #2d6cc4;
    color: white;
	border-radius: 5px;
	padding: 5px 20px;;
    text-decoration:none;   
}

.delete_button{
	background: #2d6cc4;
	border-radius: 5px;
    color:white;
    background: #ea5645;
	text-decoration:none;
    padding:6px 8px;
    margin: 0px 5px;
}

/**********tasks**********/

#task_title {
    margin-left: 5px;
    word-wrap: break-word;
    max-width: 50%;
}

#task_paragraph{
    font-size: 1.1em;
    font-weight : 600;
    text-decoration: underline
}

#delete_or_mark_as_done{
    font-size: 1.1em;
    font-weight : 600;
    text-decoration: underline
}


/**********container**********/


.undone_database_container, .done_database_container{
    width: 100%;
    margin: 0px auto;
    border-bottom: 1px solid white;
}


.done_database_container{
    background: green;
}

.done_database_container #task_title {
	text-decoration: line-through;
}

.done_database_container {
	background: #173a00;
}


/**********footer**********/

footer{
    margin-top: 30px;
    background: #2d6cc4;
    height: 80px;
    width: 100%;
    text-align: center;
    display: inline-block;
}

footer p {
    font-size: 16px;
}




