#heading {
	width: 60%;
	margin: 30px auto;
	text-align: center;
	color: aqua;
	background: blue;
	border: 2px solid blue;
	border-radius: 20px;
}

form {
	width: 70%;
	margin: 30px auto;
	border-radius: 5px;
	padding: 20px;
    padding-right: 45px;
	background: black;
	border: 1px solid blue;
}

form, #task_error{
    color: red;
}


form, #task_added{
    color: green;
}

.task_input {
	width: 100%;
	height: 15px;
	padding: 10px;
	border: 2px solid blue;
}

form, .task_button{
    padding-bottom: 40px;
}

.task_button {
	height: 39px;
	background: black;
	color: blue;
	border: 2px solid blue;
	border-radius: 5px;
	padding: 5px 20px;
    margin-top: 30px;
}


.task {
	text-align:left;
}

/**********************************************************************************************************/
/*********************************************   NEWS   ***************************************************/
/**********************************************************************************************************/

// Uncompleted todo

#uncompleted_todo div {
	color: #bec4b6;
	font-weight: 600;
	margin: 0 auto;
	width: 50%;
	//padding: 3px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid blue;
   
  
}

#uncompleted_todo div:not(:first-child):hover {
	background: blue;
}

// Completed todo

/*#completed_todo div {
	color: blue;
	font-weight: 600;
	margin: 0 auto;
	width: 50%;
	padding: 3px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid blue;
}

#completed_todo div:not(:first-child):hover {
	background: green;
}*/

// Delete task

.delete_task, a {

    //height: 35px;
    //width: 35px;
    
}

.container_todos, .wrapper_todos{
       padding-top: 40px;
       
      
    
    
}

.wrapper_todos{
   
    border: 1px solid black;
    max-height: 800px;
    width: 73%;
    height: 800px;
     padding-top: 40px;
      float: center;
    margin-right: 40px;
    

    
} 

.line_test{
      width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
   margin-bottom: 100px;
}

.database_container{
      float: center;
  
}

ul{
    margin: 0;
    padding: 0;
}


// Done button

a.done_button{
    display: inline-block;
    font-size:0.7em;
    height: 20px;
	background: black;
	color: blue;
	border: 2px solid blue;
	border-radius: 5px;
	padding: 5px 20px;
    //font-size: 9px;
    width: 50%;
    height: 40%;
    text-decoration:none;
    
    
}

/*#task_title, .task_done_todo, .done_button{
    text-decoration: line-through;
    
}
*/

.delete_button{
    display: inline-block;
   // height: 60px;
	background: black;
	border: 2px solid blue;
	border-radius: 5px;
	//padding: 5px 20px;
    //font-size: 9px;
      height: 25px;
    width: 25px;
    	color:red;
	padding:6px 8px;
	text-decoration:none;
}

