// Buttons

.task_button:hover{
     opacity: 1;
    background-color: green;
    border: 2px solid green;
}

.done_button:hover{
    opacity: 1;
    background-color: green;
    border: 2px solid green;
    
}

.delete_button:hover{
    opacity: 1;
    background-color: green;
    border: 7px solid green;
    
}

a.done_button{
    font-size: 20px;
}


.delete_button{
   
    font-size: 18px;
}


#uncompleted_todo div:not(:first-child):hover {
	background: blue;
}